#header{
	padding-left:500px;
	margin-bottom: 40px;
	height: 100px;
	background-color: #A2FA79;
}
#form{
	margin-top:40px;
}
.container_12{
	margin-top: 120px;
}
.modal-body button{
   margin-top: 10px;
}
#add{
	padding-left: 500px;
}
#tableview{
	background-color: #000000;
	color:#FFFFFF;
}
#head{
	background-color: #FAB774;
}